.page-cours-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: auto; 
    height: auto;
    justify-content: center;

    font-family: "Outfit", sans-serif;
    background-color: #101010;
    padding: 20px;
    color: white;
    font-size: 10px;
    text-shadow: 0 0 0.5px black;
}

.cours-card {
    flex: 1;
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #1B1D1B;
    border: 2px solid #4D4D4D;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.cours-card-body {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #1B1D1B;
    border: 2px solid #4D4D4D;
    border-radius: 10px;
}

.page-cours-title {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #9CE83D;
    text-shadow: 0 0 1px #222;
}

.cours-grid {
    flex-basis: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 600px;
    max-height: 100%;
    overflow: scroll;
    border: black;
    border-width: 1px;
    border-radius: 2px;
}

.cours-grid-header {
    position: sticky;
    top: 0;
    display: inline-block;
    flex-direction: column;
    gap: 12px;
}

.cours-element {
    display: flex;
    flex-direction: row;
    background-color: #1B1D1B;
    border: 2px solid #4D4D4D;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.cours-image {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.cours-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.cours-nom {
    font-size: 11px;
    font-weight: 700;
    color: #9CE83D;
    margin-bottom: 4px;
}

.cours-description {
    margin: 10px;
    font-size: 9px;
    color: #ddd;
    line-height: 1.2;
}

.cours-footer {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    color: #888;
}

.cours-btn {
    background: #73AC2B;
    border: 1px solid #547F1D;
    padding: 4px 10px;
    font-size: 9px;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-end;
    transition: 0.2s ease;
}

.cours-btn:hover {
    background: #547F1D;
}