/*Playpage stuff*/
.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.jeu-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%; 
    height: 100%;
}

.playpage-game {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.playpage-game .playpage-infobar {
    display: flex;
    flex: 1;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    justify-content: space-between;
}

.playpage-game-board {
    display: block;
    flex: 1;
    width: 70vw;
    max-width: 70vh;
    margin: 3rem auto;
}

/*Playpage profile*/
.playpage-profile {
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 8px;
}

.playpage-profile .playpage-profile-pfp {
    display: flex;
    width: 40px;
    align-items: center;
    gap: 10px;
}

.playpage-profile .playpage-profile-pfp .playpage-profile-pfp-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.playpage-profile .playpage-profile-userdata {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
}

.playpage-profile .playpage-profile-userdata .playpage-profile-username {
    align-self: stretch;

    color: #FFF;
    font-family: myOutfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.playpage-profile .playpage-profile-userdata .playpage-profile-userinfo {
    align-self: stretch;

    color: rgba(255, 255, 255, 0.60);
    font-family: myOutfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.playpage-profile .playpage-profile-userdata .playpage-profile-userflag
{
    width: 20px;
    height: 10px;
}

/*Playpage timer*/
.playpage-timer {
    display: flex;
    width: 75px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 25px;
    background: rgba(21, 21, 21, 0.50);
}

.playpage-timer .playpage-timer-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.playpage-timer .playpage-timer-label {
    color: #FFF;
    text-align: right;
    font-family: myOutfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*Playpage move info*/
.move-info-panel {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: scroll;
}

.move-info-panel-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.move-entry {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.move-info-label {
    align-self: flex-start;
    font-family: myOutfit;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.60);
}

.btn-retourner {
    border-radius: 10px;
    background-color: coral;
    width: 25px;
    height: 25px;
    align-self: flex-start;
}

.my-sidebar-pagejeu{
    display: flex;
    width: 100%;
    max-width: 300px;
    height: 100%;
    padding: 0px !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.50);
}