/*Liste de parties en cours*/
.parties-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
    height: 100%;
}

.panneau-parties-header {
    margin: 25px;
    width: 100%;
    max-width: 600px;
}

.card-body-obtenir-partie {
    min-height: 100%;
}

.browser-parties{
    background-color: grey;
    height: 500px;
}

.table-parties thead tr th{
    position: sticky;
    top: 0;
}

.inputNom {
    color: black;
    border-radius: 10px;
}

.buttonCreate {
    border-radius: 10px;
    max-width: 125px;
    background-color: #5D7C36;
    color: white;
}

.buttonRefresh {
    border-radius: 10px;
    max-width: 125px;
    background-color: #5D7C36;
    color: white;
}

.buttonChercher {
    border-radius: 10px;
    max-width: 125px;
    background-color: #5D7C36;
    color: white;
}

.liste-parties table thead tr th {
    width: 1px;
}