/*Playpage stuff*/
.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.jeu-container {
    display: flex;
    flex-direction: row;
    width: 100%; 
    height: 100%;
    overflow: hidden;
}

.playpage-game {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto; 
    width: auto;
    align-content: center;

    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playpage-game .playpage-infobar {
    display: block;
    flex-direction: column;
    padding: 20px;
    width: 600px;
}

.playpage-game-board {
    display: flex;
    width: 600px;
    height: 600px;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}

/*Playpage profile*/
.playpage-profile {
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 8px;
}

.playpage-profile .playpage-profile-pfp {
    display: flex;
    width: 40px;
    align-items: center;
    gap: 10px;
}

.playpage-profile .playpage-profile-pfp .playpage-profile-pfp-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.playpage-profile .playpage-profile-userdata {
    display: flex;
    width: 222.041px;
    flex-direction: column;
    align-items: flex-start;
}

.playpage-profile .playpage-profile-userdata .playpage-profile-username {
    align-self: stretch;

    color: #FFF;
    font-family: myOutfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.playpage-profile .playpage-profile-userdata .playpage-profile-userinfo {
    align-self: stretch;

    color: rgba(255, 255, 255, 0.60);
    font-family: myOutfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.playpage-profile .playpage-profile-userdata .playpage-profile-userflag
{
    width: 20px;
    height: 10px;
}

/*Playpage timer*/
.playpage-timer {
    display: flex;
    width: 75px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 25px;
    background: rgba(21, 21, 21, 0.50);
}

.playpage-timer .playpage-timer-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.playpage-timer .playpage-timer-label {
    color: #FFF;
    text-align: right;
    font-family: myOutfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*Playpage move info*/
.move-info-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
}

.move-entry {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.move-info-label {
    align-self: flex-start;
    font-family: myOutfit;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.60);
}

.btn-retourner {
    border-radius: 10px;
    background-color: coral;
    width: 100%;
    height: 50px;
}

/*Liste de parties en cours*/
.panneau-parties-container {
    width: 100%; 
    height: 100%;
}

.panneau-parties-header {
    padding-top: 25px;
    padding-left: 25px;
}

.liste-parties {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 25px;
}

.liste-parties-soak {
    position: relative;
    width: 100%;
    height: 200px;
}

.inputNom {
    color: black;
    border-radius: 10px;
}

.buttonCreate {
    border-radius: 10px;
    background-color: coral;
}

.buttonRefresh {
    margin-left: 50px;
    border-radius: 10px;
    background-color: coral;
}

.buttonChercher {
    margin-left: 50px;
    border-radius: 10px;
    background-color: greenyellow;
}