<html>
    <head>
        <title>test11hr</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="container">
            <div class="my-sidebar">
                <div class="my-sidebar-header">
                    <div class="my-logo">
                        <img src="/style/logo.svg"/>
                    </div>
                    <div class="my-navbar">
                        <div class="my-navbaroptions">
                            <div class="my-navoption">
                                <img class="my-icon" src="/style/login-icon.svg"/>
                                <label class="my-optionlabel">Login</label>
                            </div>
                            <div class="my-navoption">
                                <img class="my-icon" src="/style/learn-icon.svg"/>
                                <label class="my-optionlabel">Learn</label>
                            </div>
                            <div class="my-navoption">
                                <img class="my-icon" src="/style/buy-icon.svg"/>
                                <label class="my-optionlabel">Buy</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-sidebar-footer">
                    <div class="my-gemcounter">
                        <div class="my-gemindicator">
                            <img class="my-gemicon" src="/style/gem-icon.svg"/>
                            <label class="my-gemcountlabel">300</label>
                        </div>
                        <img class="my-gemaddbutton" src="/style/gem-add-icon.svg"/>
                    </div>
                    <div class="my-sidebar-footer-userparent">
                        <div class="my-sidebar-footer-user">
                            <div class="my-sidebar-footer-userpfp">
                                <img class="my-gemicon" src="/style/rectangle.svg"/>
                            </div>
                            <div class="my-sidebar-footer-userdata">
                                <label class="my-sidebar-footer-username">Test</label>
                                <label class="my-sidebar-footer-informations">Informations</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="playpage-game">
                    <div class="playpage-infobar">
                        <div class="playpage-profile left clear">
                            <div class="playpage-profile-pfp">
                                <img class="playpage-profile-pfp-icon" src="/style/rectangle.svg"/>
                            </div>
                            <div class="playpage-profile-userdata">
                                <label class="playpage-profile-username">Test</label>
                                <label class="playpage-profile-userinfo">Informations</label>
                            </div>
                        </div>
                        <div class="playpage-timer right">
                            <img class="playpage-timer-icon" src="/style/timer-icon.svg"/>
                            <label class="playpage-timer-label">3:15</label>
                        </div>
                    </div>
                    <img class="playpage-game-board" src="/style/board.svg"/>
                    <div class="playpage-infobar">
                        <div class="playpage-profile left clear">
                            <div class="playpage-profile-pfp">
                                <img class="playpage-profile-pfp-icon" src="/style/rectangle.svg"/>
                            </div>
                            <div class="playpage-profile-userdata">
                                <label class="playpage-profile-username">Test2</label>
                                <label class="playpage-profile-userinfo">Informations2</label>
                            </div>
                        </div>
                        <div class="playpage-timer right">
                            <img class="playpage-timer-icon" src="/style/timer-icon.svg"/>
                            <label class="playpage-timer-label">3:15</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-sidebar">
                <div class="move-info-panel">
                    <br/>
                    <label class="move-info-label">A2A3</label>
                    <label class="move-info-label">B2B3</label>
                    <label class="move-info-label">C2C3</label>
                    <label class="move-info-label">D2D3</label>
                    <label class="move-info-label">E2E3</label>
                </div>
            </div>
        </div>
    </body>
    <footer>

    </footer>
</html>