.accueil-container {
    background: linear-gradient(to right, #1e211a 0%, #1f311b 50%, #1e211a 100%);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 40px;
    min-height: 100vh;
    overflow-y: auto;
    font-family: "Urbanist", sans-serif;
}

.section {
    margin: 120px auto;
    width: 90%;
    max-width: 1300px;
}

.hero-section {
    margin-bottom: 35px;
    padding: 30px 10px 40px 10px;
    text-align: center;
}

.hero-section h1 {
    color: #699d29;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    text-shadow: 0 0 1px #000;
}

.hero-section p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 15px;
    text-shadow: 0 0 1px black;
}

.start-button {
    background: #699d29;
    border: 1px solid #547F1D;
    padding: 6px 20px;
    font-size: 11px;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 0 0 0.5px #000;
}

.hero-section h1 {
    color: #699d29;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    text-shadow: 0 0 1px #000;
}

.hero-section p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 15px;
    text-shadow: 0 0 1px black;
}

.start-button {
    background: #699d29;
    border: 1px solid #547F1D;
    padding: 6px 20px;
    font-size: 11px;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 0 0 0.5px #000;
}

.start-button, 
.lessons-btn,
.play-button {
    background: #699d29;
    border: 1px solid #547F1D;
    padding: 8px 16px;
    font-size: 11px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 5px;
    transition: 0.3s;
    text-shadow: 0 0 0.5px #000;
    width: fit-content;
}

.lessons-btn {
    align-self: flex-start;
}

.play-button {
    align-self: flex-end;
}

.play-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202020; 
    padding: 20px;
    margin: 40px auto; 
    width: 55%;
    max-width: 600px;
    min-height: 130px; 
    border-radius: 12px;
    border: 1px solid #4D4D4D;
    font-size: 9px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.play-container {
    flex-direction: row-reverse;
    text-align: left;
}

.play-image {
    width: 80px;
    height: auto;
    margin: 0 12px;
}

.play-content {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
}

.play-button {
    align-self: flex-end;
}

.video-section {
    margin: 120px auto;
    margin-top: 200px;
    justify-content: center;
    text-align: left;
    line-height: 1.2;
    padding: 0 5px;
}

.lesson-title {
    font-size: 18px; 
    font-weight: 700;
    color: #699d29;
    margin-bottom: 6px;
    text-shadow: 0 0 0.5px #000;
}

.lesson-description {
    font-size: 12px; 
    color: #eee;
    text-shadow: 0 0 0.5px #000;
}
.video-section {
    margin: 50px auto; 
    width: 90%;
    max-width: 1400px;
}

.video-section h2 {
    font-size: 16px !important; 
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
    color: #9CE83D;
    font-family: "Urbanist", sans-serif;
    text-shadow: 0 0 0.5px #000;
}


.video-thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    justify-content: center;
    margin-top: 50px;
}

.video-thumbnails img {
    width: 200%;
    max-width: 300px;
    border-radius: 5px;
}

.video-description {
    font-size: 11px; 
    color: #f0f0f0;
    font-family: "Segoe UI", "Roboto", "Urbanist", sans-serif;
    text-align: center;
    margin-top: 5px;
    line-height: 1.4;
    
    text-shadow: 0 0 0.5px #000;
    max-width: 300px;
    word-wrap: break-word;
    white-space: normal; 
}
footer {
    margin-top: 200px;
    padding: 40px;
    border-top: 4px solid #151515;
    text-align: center;
}


footer p {
    color: #757373;
    font-size: 30px;
}